* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: auto;
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 10px 15vw;
    justify-content: space-between;
    flex: 1;
}

.header_logo {
    font-size: 24px;
}

.header_links {
    align-content: center;
}

ul {
    display: flex;
    list-style-type: none;  
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    filter: contrast(50%);
}

.head {
    display: flex; 
    background-color: #1F2937;
    color: white;
    height: auto;
    padding: 80px 15vw;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.head_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    height: auto;
}

/* .head_right {
    flex: 1;
    overflow: hidden;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
} */

.head img {
    flex: 1;
    max-height: 250px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

h1 {
    font-size: 48px;
}

.head p {
    font-size: 18px;
    filter: contrast(50%);
}

.head button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.head_right {
    flex: 1;
    background-color: lightgrey;
}



h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.info {
    padding: 100px 15vw;
}

.outer_imgs {
    display: flex;
    padding-top: 30px;
    gap: 20px;
    justify-content: center;
}

.inner_imgs {
    width: 150px;
}

.img_cont {
    min-width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid #3882f6;  
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_cont img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.inner_imgs p {
    padding-top: 10px;
    text-align: center;
}

.quote_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15vw;
    background-color: #E5E7EB;
}

.quote p {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 36px;
}

.outer_sign_up_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15vw;
}


.inner_sign_up_box {
    display: flex;
    padding: 20px 40px;
    background-color: #3882f6;
    color: white;
    gap: 20px;
    min-width: 100%;
}

.inner_sign_up_box_left {
    width: 66%;
}

.inner_sign_up_box_right {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    font-size: 24px;
    font-weight: bold;
}

.two {
    font-size: 18px;
    filter: contrast(50%);
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15vw;
    background-color: #1F2937;
    color: white;
}

.inner_sign_up_box_right button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid white;
}